// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.menu {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 50px;
  z-index: 100;
  border-right: inset #C0C0C0;
}

.main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

