// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#blog_header {
    padding-bottom: 4%;
}

.blog_title {
    text-align:center;
    font-size:40px;
}

.blog_description {
    text-align:center;
    font-size:90%;
    font-weight: 400;
}

.menu {
    text-align:right;
    margin-right:30px;
}

.useful_content {
    margin-bottom: 3em;
}

.useful_content_title {
    margin-bottom: 12px;
}

.content {
    flex-direction: row;
    width: 100%;
    display: flex;
}

#article_list {
    max-width: 75%;
    flex-basis: 75%;
}

#blog_info {
    max-width: 25%;
    flex-basis: 25%;
}